<div class="p-4 flex flex-col gap-4">

    <app-page-header
        titulo="Detalhe da Compra"
        [breadcrumbs]="breadcrumbs"
        botaoLabel="Editar"
        botaoIcone="pi pi-pencil"
        (botaoClick)="editar()"
    />

    @if (compra) {

        <!-- Dados gerais -->
        <p-card header="Dados da compra">
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                <div>
                    <p class="text-xs text-gray-400">Cliente</p>
                    <p class="text-sm font-medium">{{ compra.fornecedor.nome }}</p>
                </div>
                <div>
                    <p class="text-xs text-gray-400">Data</p>
                    <p class="text-sm font-medium">{{ compra.dataChegada | date:'dd/MM/yyyy' }}</p>
                </div>
                <div>
                    <p class="text-xs text-gray-400">Forma de pagamento</p>
                    <p class="text-sm font-medium">{{ compra.formaPagamento }}</p>
                </div>
                <div>
                    <p class="text-xs text-gray-400">Parcelas</p>
                    <p class="text-sm font-medium">{{ compra.numeroParcelas }}x</p>
                </div>
                <div>
                    <p class="text-xs text-gray-400">Lote</p>
                    <p class="text-sm font-medium text-blue-500"> {{ compra.lote}}</p>
                </div>
                <div>
                    <p class="text-xs text-gray-400">Total</p>
                    <p class="text-sm font-medium text-green-600">{{ compra.valorTotal | currency:'BRL' }}</p>
                </div>
                @if (compra.observacoes) {
                    <div class="col-span-2 md:col-span-4">
                        <p class="text-xs text-gray-400">Observações</p>
                        <p class="text-sm font-medium">{{ compra.observacoes }}</p>
                    </div>
                }
            </div>
        </p-card>

        <!-- Itens -->
        <p-card header="Itens da compra">
            <p-table [value]="compra.itensCompra">
                <ng-template #header>
                    <tr>
                        <!--<th>Produto</th>-->
                        <th>SKU</th>
                        <!--<th>Cor</th>
                        <th>Tamanho</th>-->
                        <th>Qtd</th>
                        <th>Valor unit.</th>
                        <th>Subtotal</th>
                    </tr>
                </ng-template>
                <ng-template #body let-item>
                    <tr>
                        <!--<td>{{ item.variacaoProduto?.produto?.nome ?? "-"}}</td>-->
                        <td><code>{{ item.variacaoProduto?.sku ?? "-" }}</code></td>
                        <!--<td>{{ item.variacaoProduto?.cor?.nome ?? "-" }}</td>
                        <td>{{ item.variacaoProduto?.tamanho?.tamanho ?? "-" }}</td> -->
                        <td>{{ item.quantidade }}</td>
                        <td>{{ item.valorUnit | currency:'BRL' }}</td>
                        <td>{{ item.subTotal | currency:'BRL' }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>

        @if (compra.contasPagar?.length) {
            <p-card header="Contas a receber">
                <p-table [value]="compra.contasPagar">
                    <ng-template #header>
                        <tr>
                        <th>Parcela</th>
                        <th>Vencimento</th>
                        <th>Pagamento</th>
                        <th>Valor</th>
                        <th>Status</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-conta>
                        <tr>
                        <td>{{ conta.numeroParcela }}/{{ conta.totalParcelas }}</td>
                        <td>{{ conta.dataLancamento  | date:'dd/MM/yyyy' }}</td>
                        <td>{{ conta.dataVencimento  | date:'dd/MM/yyyy' }}</td>
                        <td>{{ conta.dataPagamento ? (conta.dataPagamento | date:'dd/MM/yyyy') : '—' }}</td>
                        <td>{{ conta.valor | currency:'BRL' }}</td>
                        <td>
                            <p-tag
                            [value]="conta.statusConta"
                            [severity]="getStatusSeverity(conta.statusConta)"
                            />
                        </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        }

    }

    <!-- Botão voltar -->
    <div>
        <p-button
        label="Voltar para compras"
        icon="pi pi-arrow-left"
        [text]="true"
        severity="secondary"
        (onClick)="voltar()"
        />
    </div>

</div>