<div clas="p-4">
    <app-page-header
        titulo="Clientes"
        [breadcrumbs]="breadcrumbs"
        botaoLabel="Novo Cliente"
        botaoIcone="pi pi-plus"
        (botaoClick)="abrirNovo()"
    />

    <p-table
        [value]="clientes"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="['nome', 'contato', 'documento']"
        stripedRows
    >
        <ng-template #header>
            <tr>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome"/></th>
                <th>Contato</th>
                <th>Documento</th>
                <th>Cidade</th>
                <th style="width: 120px">Ações</th>
            </tr>
        </ng-template>

        <ng-template #body let-cliente>
            <tr>
                <td>{{ cliente.nome}}</td>
                <td>{{ cliente.contato }}</td>
                <td>{{ cliente.documento }}</td>
                <td>{{ cliente.cidade }}</td>
                <td>
                    <div class="flex gap-1">
                        <p-button
                            icon="pi pi-eye"
                            [text]="true"
                            [rounded]="true"
                            severity="info"
                            pTooltio="Ver detalhe"
                            (onClick)="verDetalhe(cliente.id)"
                        />
                        <p-button
                            icon="pi pi-pencil"
                            [text]="true"
                            [rounded]="true"
                            severity="secondary"
                            pTooltip="Editar"
                            (onClick)="abrirEdicao(cliente)"
                        />
                        <p-button
                            icon="pi pi-trash"
                            [text]="true"
                            [rounded]="true"
                            severity="danger"
                            pTooltip="Excluir"
                            (onClick)="confirmarExclusao(cliente.id)"
                        />
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template #empty>
            <tr>
                <td colspan="5" class="text-center py-8 text-gray-400">
                Nenhum cliente encontrado
                </td>
            </tr>
        </ng-template>

    </p-table>

    <p-dialog
        [header]="clienteEditando ? 'Editar Cliente' : 'Novo Cliente'"
        [visible]="dialogVisivel()"
        (visibleChange)="fecharDialog()"
        [modal]="true"
        [style]="{ width: '500px' }"
        [draggable]="false"
    >

        <form [formGroup]="form" class="flex flex-col gap-4 pt-2">

            <div class="flex flex-col gap-1">
                <label class="text-sm text-gray-600">Nome *</label>
                <input pInputText formControlName="nome" placeholder="Nome completo" />
            </div>

            <div class="flex flex-col gap-1">
                <label class="text-sm text-gray-600">Contato *</label>
                <input pInputText formControlName="contato" placeholder="Telefone ou email" />
            </div>

            <div class="flex flex-col gap-1">
                <label class="text-sm text-gray-600">Documento</label>
                <input pInputText formControlName="documento" placeholder="CPF ou CNPJ" />
            </div>

            <div class="grid grid-cols-2 gap-3">
                <div class="flex flex-col gap-1">
                    <label class="text-sm text-gray-600">Rua</label>
                    <input pInputText formControlName="rua" placeholder="Rua" />
                </div>
                <div class="flex flex-col gap-1">
                    <label class="text-sm text-gray-600">Número</label>
                    <input pInputText formControlName="numero" placeholder="Nº" />
                </div>
            </div>

            <div class="grid grid-cols-2 gap-3">
                <div class="flex flex-col gap-1">
                    <label class="text-sm text-gray-600">Bairro</label>
                    <input pInputText formControlName="bairro" placeholder="Bairro" />
                </div>
                <div class="flex flex-col gap-1">
                    <label class="text-sm text-gray-600">Cidade</label>
                    <input pInputText formControlName="cidade" placeholder="Cidade" />
                </div>
            </div>

        </form>

        <ng-template #footer>
            <p-button
                label="Cancelar"
                [text]="true"
                severity="secondary"
                (onClick)="fecharDialog()"
            />
            <p-button
                [label]="clienteEditando ? 'Salvar alterações' : 'Criar cliente'"
                icon="pi pi-check"
                [loading]="salvando()"
                [disabled]="form.invalid"
                (onClick)="salvar()"
            />
        </ng-template>

    </p-dialog>

</div>