<div clas="p-4">
    <app-page-header
        titulo="Usuarios"
        [breadcrumbs]="breadcrumbs"
        botaoLabel="Novo Usuário"
        botaoIcone="pi pi-plus"
        (botaoClick)="abrirNovo()"
    />

    <p-table
        [value]="usuarios"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="['nome', 'cargo']"
        stripedRows
    >
        <ng-template #header>
            <tr>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome"/></th>
                <th>Email</th>
                <th>Cargo</th>
                <th style="width: 120px">Ações</th>
            </tr>
        </ng-template>

        <ng-template #body let-usuario>
            <tr>
                <td>{{ usuario.nome}}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.cargo }}</td>
                <td>
                    <div class="flex gap-1">
                        <p-button
                            icon="pi pi-eye"
                            [text]="true"
                            [rounded]="true"
                            severity="info"
                            pTooltio="Ver detalhe"
                            (onClick)="verDetalhe(usuario.id)"
                        />
                        <p-button
                            icon="pi pi-pencil"
                            [text]="true"
                            [rounded]="true"
                            severity="secondary"
                            pTooltip="Editar"
                            (onClick)="abrirEdicao(usuario)"
                        />
                        <p-button
                            icon="pi pi-trash"
                            [text]="true"
                            [rounded]="true"
                            severity="danger"
                            pTooltip="Excluir"
                            (onClick)="confirmarExclusao(usuario.id)"
                        />
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template #empty>
            <tr>
                <td colspan="5" class="text-center py-8 text-gray-400">
                Nenhum usuario encontrado
                </td>
            </tr>
        </ng-template>

    </p-table>

    <p-dialog
        [header]="usuarioEditando ? 'Editar Usuario' : 'Novo Usuario'"
        [visible]="dialogVisivel()"
        (visibleChange)="fecharDialog()"
        [modal]="true"
        [style]="{ width: '500px' }"
        [draggable]="false"
    >

        <form [formGroup]="form" class="flex flex-col gap-4 pt-2">

            <div class="flex flex-col gap-1">
                <label class="text-sm text-gray-600">Nome *</label>
                <input pInputText formControlName="nome" placeholder="Nome completo" />
            </div>

            <div class="flex flex-col gap-1">
                <label class="text-sm text-gray-600">Email *</label>
                <input pInputText formControlName="email" placeholder="Email" />
            </div>

            <div class="flex flex-col gap-1">
                <label class="text-sm text-gray-600">Cargo</label>
                    <p-select
                        formControlName="cargo"
                        [options]="cargoOptions"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Selecione">
                    </p-select>
            </div>

            <div class="grid grid-cols-2 gap-3">
                <div class="flex flex-col gap-1">
                    <label class="text-sm text-gray-600">Ativo</label>
                    <p-toggleswitch
                        formControlName="status">
                    </p-toggleswitch>
                </div>
                <div class="flex flex-col gap-1">
                    <label class="text-sm text-gray-600">Senha</label>
                    <input pInputText formControlName="senha" placeholder="senha" />
                </div>
            </div>

        </form>

        <ng-template #footer>
            <p-button
                label="Cancelar"
                [text]="true"
                severity="secondary"
                (onClick)="fecharDialog()"
            />
            <p-button
                [label]="usuarioEditando ? 'Salvar alterações' : 'Criar usuario'"
                icon="pi pi-check"
                [loading]="salvando()"
                [disabled]="form.invalid"
                (onClick)="salvar()"
            />
        </ng-template>

    </p-dialog>

</div>